{% extends 'base_temp.html' %}

{% block content %}
    <div class="container mt-3">
        <h2>{{task.title}}</h2>
        <h4>{{task.description}}</h4>
        <p>
            WIP - This will be completed in the next sprint.
        </p>
        <p>
            This will be where our visualization charts will go, this will be done by posting a form whenever a change is initiated to construct the form via numpy/matplotlib, saving the file, and then rendering to user.
        </p>
    </div>
{% endblock content %}