{% extends "base_temp.html" %}

{% block content %}
  <div class="album py-5 bg-light">
    <div class="container">
    {% if recent_tasks %}
    <h3>Recent Tasks</h3>
        <div class="row">
            {% for task in recent_tasks %}
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Door Count"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="30%" y="50%" fill="#eceeef" dy=".3em">{{task.title}}</text></svg>
                    <div class="card-body">
                    <p class="card-text">{{ task.description }}</p>
                    <p class='card-text'>Last Updated: {{ task.last_modified }}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <form method='get' action='/template/{{task.task_id}}'>
                              <button type="submit" class="btn btn-sm btn-outline-secondary">Upload</button>
                            </form>
                            <form method='get' action='/visualization/{{task.task_id}}'>
                              <button type='submit' class='btn btn-sm btn-outline-secondary'>Visual</button>
                            </form>
                              <!-- Button trigger modal -->
                            <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#exampleModal" onclick='deleteModalCreateAction({{task.task_id}}, "{{task.title}}");'>
                              Delete Task
                            </button>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    {% endif %}
    <h3>All Tasks</h3>
      <div class="row">
        {% for task in tasks %}
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Door Count"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="30%" y="50%" fill="#eceeef" dy=".3em">{{task.title}}</text></svg>
                    <div class="card-body">
                    <p class="card-text">{{ task.description }}</p>
                    <p class='card-text'>Last Updated: {{ task.last_modified }}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Upload</button>
                            <form method='get' action='/visualization/{{task.task_id}}'>
                              <button type='submit' class='btn btn-sm btn-outline-secondary'>Visual</button>
                            </form>
                              <!-- Button trigger modal -->
                            <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#exampleModal" onclick='deleteModalCreateAction({{task.task_id}}, "{{task.title}}");'>
                              Delete Task
                            </button>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Create new task"><title>Create new task</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="30%" y="50%" fill="#eceeef" dy=".3em">Create new task</text></svg>
            <div class="card-body">
              <p class="card-text">Create a new task here</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <form action="task/new">
                        <button type='submit' class="btn btn-sm btn-outline-secondary" href="{% url 'newTask'%}">Create</button>
                    </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">DELETE</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id='modal-body-id'>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-outline-secondary" data-dismiss="modal">Close</button>
        <form id='delete-modal-form' method='get'>
          <button type='submit' class='btn btn-sm btn-secondary'>Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
function deleteModalCreateAction(id, title) {
  let form = document.getElementById('delete-modal-form');
  form.action = '/delete/'+id;
  let modal_body = document.getElementById('modal-body-id');
  console.dir(modal_body);
  modal_body.innerHTML = `Are you sure you want to delete Task: <strong>${title}</strong>?`;
}
</script>
{% endblock %}